@model MealPlanner.Models.Meal

@{
    ViewBag.Title = "Meals - Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Directions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Directions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBreakfast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBreakfast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLunch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLunch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDinner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDinner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" })
    @Html.ActionLink("Go to meal List", "Index", null, new { @class = "btn btn-info" })
</p>
