@model IEnumerable<MealPlanner.Models.Meal>

@{
    ViewBag.Title = "Meals - List";
}

<h2>Meals - List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Directions)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Name)
        </th>
        @*<td>
            @Html.DisplayFor(modelItem => item.IngredientsDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectionsDisplay)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class="btn btn-sm btn-info" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-warning" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
